:root {
  --pn-primary: #0044eb;
  --pn-secondary: #47b16a;
  --pn-tertiary: #ffbe16;
  --pn-white: #ffffff;
  --pn-black: #020842;
  --pn-black-2: #0f144b;
  --pn-rgba-color-one: rgba(0, 0, 0, 0.6);
  --pn-paragraph: #495158;
  --pn-border: #cccccc;
  --pn-border-two: #495158;
  --pn-background-2: #cccccc;
  --pn-background: #f1f6fc;
  --pn-rgba-color-1: rgb(0, 68, 235, 0.8);
  --pn-shadow: 0px 10px 30px 0px rgba(137, 139, 142, 0.2);
  --pn-shadow-two: 0px 2px 20px rgba(25, 25, 25, 0.1);
}
