@use "../utils" as *;

.about-section {
  .about-image {
    padding-right: 60px;
    @media #{$xxs} {
      margin-bottom: 50px;
    }
    .shape {
      top: 80px;
      right: 40px;
      @media #{$lg} {
        right: -6px;
        top: 53px;
      }
      @media #{$xxs} {
        right: 50px;
        top: 52px;
      }
      @media #{$xxs} {
        img {
          width: 70px;
          height: 70px;
        }
      }
      img {
        animation: spin2 20s linear infinite;
      }
    }
    .clients {
      border-radius: 20px;
      max-width: 297px;
      width: 100%;
      padding: 18px 30px;
      gap: 20px;
      right: 15px;
      bottom: 66px;
      @media #{$lg} {
        right: -2px;
        bottom: 22px;
      }
      @media #{$xxs} {
        padding: 10px 29px;
        right: 31px;
        bottom: -38px;
      }
      .info {
        p {
          margin-top: 3px;
        }
      }
    }
  }
  .about-text {
    .list-info-wrapper {
      .list-info {
        ul {
          li {
            i {
              color: var(--pn-secondary);
            }
            span {
              margin-left: 15px;
            }
          }
          li + li {
            margin-top: 20px;
          }
        }
        &-border {
          &::before {
            width: 3px;
            height: 172px;
            background-color: var(--pn-background-2);
            position: absolute;
            top: 0;
            right: 10px;
            content: "";
            @media #{$lg,$xs} {
              display: none;
            }
          }
        }
      }
    }
  }
}

@keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
