@use "../utils" as *;

// bannar section one

.banner-section {
  padding: 117px 0 17px 0;
  @media #{$md,$xs} {
    padding: 200px 0 17px 0;
  }
  .banner-content {
    @media #{$md} {
      max-width: 550px;
      margin: 0 auto;
    }
    .banner-title-shape {
      top: -19px;
      right: 77px;
      @media #{$xl} {
        right: 10px;
        top: -15px;
      }
      @media #{$lg} {
        right: 22px;
        top: -30px;
      }
      @media #{$xs} {
        right: 22px;
        top: -30px;
      }
    }
    .banner-title {
      font-size: 74px;
      line-height: 84px;
      letter-spacing: -1.84px;
      margin-bottom: 30px;
      @media #{$lg} {
        font-size: 42px;
        line-height: 52px;
      }
      @media #{$md} {
        line-height: 66px;
        font-size: 52px;
      }
      @media #{$xs} {
        line-height: 60px;
        font-size: 48px;
      }
    }
    .banner-btn {
      gap: 50px;
      margin-top: 40px;
      @media #{$xs} {
        gap: 30px;
      }
      .play-video {
        gap: 10px;
        .icon {
          width: 50px;
          height: 50px;
          background-color: var(--pn-tertiary);
          color: var(--pn-secondary);
          @include transition(0.3s);
        }
        .play-text {
          letter-spacing: -0.36px;
        }
        &:hover {
          .icon {
            background-color: var(--pn-black);
            color: var(--pn-white);
          }
        }
      }
    }
  }
  .custom-shadow {
    width: 431px;
    height: 431px;
    background: var(--pn-tertiary);
    opacity: 0.6;
    -webkit-filter: blur(152.6000061035px);
    filter: blur(152.6000061035px);
    bottom: -176px;
    right: -220px;
  }
  .banner-shape {
    img {
      @media #{$lg} {
        left: -125px !important;
      }
      @media #{$md,$sm,$xs} {
        display: none;
      }
    }
  }
  .banner-image {
    @media #{$md,$sm,$xs} {
      padding-top: 50px;
    }
  }
}

// bannar section two
.banner-section-two {
  padding: 80px 0;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 64%;
    height: 100%;
    background-color: var(--pn-black);
    content: "";
    z-index: -1;
    clip-path: polygon(0 0, calc(100% - 360px) 0, 100% 100%, 0% 100%);
    @media #{$xl} {
      width: 68%;
      clip-path: polygon(0 0, calc(100% - 340px) 0, 100% 100%, 0% 100%);
    }
    @media #{$lg} {
      width: 74%;
      clip-path: polygon(0 0, calc(100% - 340px) 0, 100% 100%, 0% 100%);
    }
    @media #{$md,$xs} {
      width: 100%;
      clip-path: none;
    }
  }
  .banner-content {
    .banner-title {
      max-width: 458px;
      font-size: 92px;
      line-height: 100px;
      letter-spacing: -1.841px;
      @media #{$xl} {
        font-size: 68px;
        line-height: 78px;
        max-width: 333px;
      }
      @media #{$lg,$md,$xs} {
        font-size: 52px;
        line-height: 63px;
        max-width: 333px;
      }
      @media #{$md,$xs} {
        max-width: 100%;
        text-align: center;
      }
    }
    p {
      @media #{$md,$xs} {
        max-width: 66%;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
      }
      @media #{$md,$xs} {
        max-width: 96%;
      }
    }
    .play-video {
      width: 203px;
      height: 203px;
      background: rgba(255, 255, 255, 0.05);
      padding: 15px;
      @media #{$md,$xs} {
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
      }
      .play-icon {
        width: 89px;
        height: 89px;
        background-color: var(--pn-primary);
        font-size: 25px;
      }
      .rounded-img {
        animation: spin 26s infinite linear;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .banner-image {
    transform: translateX(30px);
    .img {
      width: 873px;
      @media #{$xl} {
        width: 677px;
      }
      @media #{$lg,$md} {
        width: 606px;
      }
      @media #{$xs} {
        width: 100%;
        padding-right: 50px;
      }
      @media #{$md,$xs} {
        margin: 0 auto;
      }
    }
    .banner-shape-2 {
      top: -82px;
      left: 25px;
      @media #{$xl} {
        top: -124px;
        left: -18px;
      }
      @media #{$lg} {
        top: -146px;
        left: -22px;
      }
    }
    .banner-shape-3 {
      top: 361px;
      left: -29px;
      @media #{$xl} {
        top: 331px;
        left: -69px;
        transform: rotate(-9deg);
      }
      @media #{$lg} {
        top: 287px;
        left: -61px;
        transform: rotate(-9deg);
      }
    }
  }
  .banner-shapes {
    .banner-shape-4 {
      top: 0;
      right: 0;
      @media #{$lg} {
        top: -143px;
        right: -63px;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
