@use "../utils" as *;

.features-section {
  .features-image {
    .image-main {
      max-width: 482px;
      padding-left: 35px;
      @media #{$xxs} {
        max-width: 100%;
        padding-left: 10px;
      }
      &::before {
        position: absolute;
        content: "";
        bottom: -32px;
        left: 0;
        width: 413px;
        height: 229px;
        background-color: var(--pn-secondary);
        border-radius: 20px;
        z-index: -1;
        @media #{$xxs} {
          width: 100%;
          left: -5px;
          bottom: -15px;
        }
      }
    }
    .small-image {
      max-width: 331px;
      border: 14px solid var(--pn-white);
      bottom: -68px;
      right: 25px;
      @media #{$lg} {
        right: 0;
      }
      @media #{$xxs} {
        display: none;
      }
    }
  }
  .features-content {
    padding: 13px 0 0 53px;
    @media #{$lg} {
      padding: 0 0 0 10px;
    }
    @media #{$md,$xs} {
      padding: 100px 0 0 0;
    }
    .features-list {
      ul {
        li {
          gap: 30px;
          @media #{$lg} {
            gap: 20px;
          }
          .feature-info {
            .feature-title {
              font-size: 22px;
              line-height: 36px;
            }
          }
        }
        li + li {
          margin-top: 30px;
        }
      }
    }
  }
}
