@use "../utils" as *;

.message-section {
  &::before {
    width: 1600px;
    height: 100%;
    background-color: var(--pn-white);
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    @media #{$xl} {
      width: 1100px;
    }
  }
  .message-image {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    max-width: 915px;
    height: 854px;
    @media #{$xxl} {
      max-width: 700px;
    }
    @media #{$xl} {
      max-width: 582px;
    }
    @media #{$lg} {
      max-width: 490px;
    }
    img {
      @media #{$xxl,$xl,$lg} {
        height: 100%;
      }
    }
  }
}
