@use "../utils" as *;

// services section one
.services-section {
  .section-title {
    padding-right: 80px;
  }
  .service-item {
    padding: 40px;
    border: 1px solid var(--pn-border);
    margin: 0 12px;
    .service-text {
      .service-title {
        margin-bottom: 20px;
        color: var(--pn-black);
        font-size: 22px;
        font-weight: 700;
        line-height: 36px;
      }
    }
  }
  .arrow {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    cursor: pointer;
    font-size: 24px;
    @include transition(0.3s);
    color: var(--pn-paragraph);
    border: 5px solid var(--pn-border-two);
    position: absolute;
    top: -120px;
    &:hover {
      color: var(--pn-secondary);
      border: 5px solid var(--pn-secondary);
      @media #{$xxs} {
        border: 3px solid var(--pn-secondary);
      }
    }
    @media #{$xxs} {
      width: 55px;
      height: 55px;
      border: 3px solid var(--pn-border-two);
      top: auto;
      bottom: -90px;
    }
  }
  .arrow-prev {
    right: 92px;
    @media #{$xxs} {
      right: 50%;
    }
  }
  .arrow-next {
    right: 12px;
    @media #{$xxs} {
      right: calc(50% - 65px);
    }
  }
  &.style-2 {
    .service-item {
      margin: 0;
      .icon-box {
        background-color: var(--pn-tertiary);
        @include transition(0.3s);
        img {
          filter: invert(0);
          @include transition(0.3s);
        }
      }
      &:hover {
        border: 1px solid var(--pn-black);
        .icon-box {
          background-color: var(--pn-primary);
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}

// services section two
.service-section-two {
  &.px-80 {
    @media #{$lg,$md,$xs} {
      padding: 0;
    }
  }
  .services-bg {
    .service-item {
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
      margin: 0 12px;
      border-bottom: 3px solid transparent;
      @include transition(0.3s);
      &:hover {
        border-color: var(--pn-secondary);
      }
      .service-image {
        img {
          @include transition(0.3s);
        }
      }
      .service-text {
        padding: 60px 20px 40px;
        .icon-box {
          top: -40px;
        }
        .service-title {
          a {
            color: var(--pn-black);
            @include transition(0.3s);
            &:hover {
              color: var(--pn-primary);
            }
          }
        }
      }
      &:hover {
        .service-image {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 80px;
      li {
        button {
          font-size: 0;
          border: 0;
          width: 50px;
          height: 10px;
          background-color: var(--pn-background);
          @include transition(0.3s);
        }
        &:first-child {
          button {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }
        &:last-child {
          button {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
        &.slick-active {
          button {
            background-color: var(--pn-secondary);
            border-radius: 5px;
            width: 100px;
          }
        }
      }
    }
    .slick-list {
      padding: 20px 0;
      margin: -20px 0;
    }
  }
}
