@use "../utils" as *;

.services-section {
  .section-title {
    padding-right: 80px;
  }
  .service-item {
    padding: 40px;
    border: 1px solid var(--pn-border);
    margin: 0 12px;
    .service-text {
      .service-title {
        margin-bottom: 20px;
      }
    }
  }
  .arrow {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    cursor: pointer;
    font-size: 24px;
    @include transition(0.3s);
    color: var(--pn-paragraph);
    border: 5px solid var(--pn-border-two);
    position: absolute;
    top: -120px;
    &:hover {
      color: var(--pn-secondary);
      border: 5px solid var(--pn-secondary);
    }
  }
  .arrow-prev {
    right: 92px;
  }
  .arrow-next {
    right: 12px;
  }
}
